* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.img-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.biografia {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/bg-biografia.png");
  /* opacity: 0.7; */
}

h2 {
  text-align: center;
}

.cont-proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.formaciones {
  background-color: aliceblue;
}

.cont-formaciones {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.bottom-line {
  height: 3px;
  width: 10rem;
  background-color: blue;
  display: block;
  margin: 0 auto 20px auto;
}

/* Footer */
footer {
  color: white;
  /* background: rgb(34, 193, 195);
  background: linear-gradient(
    45deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(40, 110, 136, 1) 96%
  ); */
  /* display: block;
  justify-content: center;
  align-items: center; */
  /* padding-top: 50px;
  height: 30px; */
}

.footer-container {
  /* display: inline-flex; */
  gap: 60px;
  height: 3rem;
  color: white;
}

h5 p {
  font-size: 2rem;
  padding-top: 20px;
}

.social i {
  padding: 7px;
  font-size: 1.4rem;
  border: 2px solid white;
  border-radius: 50%;
}

.social i:hover {
  cursor: pointer;
  background-color: aqua;
}

.btn {
  color: white;
}
